* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #f7f5e6;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 8% 0;
}
nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}
nav ul li a, .logo {
	color: #6e4ca3;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	font-family: "Covered By Your Grace";
  	font-weight: 400;
}
nav ul li a {
	font-size: 24px;
}
nav ul li a:hover, .logo:hover {
	color: #c195ff;
	transition: 0.4s;

}
.portfolio {
    width: 80%;
    margin: 80px auto;
}


.portfolio h2 {
    text-align: center;
    color:#6e4ca3;
    margin-bottom: 40px;
    font-family: "Covered By Your Grace";
    font-weight: 400;
    font-size: 400%;
}

.works-grid {
    display: grid;

    grid-template-columns: repeat(
        auto-fit,
        minmax(500px, 1fr)
    );

    gap: 30px;
}

.work-card {
    position: relative;

    width: 100%;
    max-width: 926px;

    margin: 0 auto;

    overflow: hidden;
    border-radius: 15px;

    text-decoration: none;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
}


.work-card img {
    width: 100%;
    aspect-ratio: 4 / 3;

    object-fit: cover;

    display: block;

    transition: .4s ease;
}

.overlay{
    position:absolute;
    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:rgba(0, 0, 0, 0.65);

    color:white;
    text-align:center;

    opacity:0;
    transition:.4s ease;

    padding:20px;
}

.overlay h3{
    font-size:28px;
    margin-bottom:10px;
}

.overlay p{
    font-size:16px;
}

.work-card:hover img{
    transform:scale(1.08);
    filter:brightness(100%);
}

.work-card:hover .overlay{
    opacity:1;
}

.socials {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 1vw;

    margin: 100px auto 18px;
}

.socials a {
    width: clamp(30px, 8vw, 50px);
}

.socials img {
    width: 100%;
    height: auto;
     filter: brightness(0) saturate(100%) invert(34%)     
      sepia(24%) saturate(1504%)   
      hue-rotate(222deg) brightness(91%) contrast(86%);
    display: block;

    transition: transform 0.3s;
}

.socials img:hover {
    transform: scale(1.1);
}
.project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 80px;

    align-items: start;

    margin-bottom: 80px;
}

.project-title h1 {
    color: #6e4ca3;

    font-family: "Covered By Your Grace";
    font-size: clamp(3rem, 5vw, 5rem);

    font-weight: 400;
    text-align: center;
    font-size: 500%;
}

.project-text p {
    font-family: "Bricolage Grotesque";
    font-size: 1.1rem;

    line-height: 1.8;

    white-space: pre-line;
}

.project-gallery {
    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 300px);

    gap: 20px;

    margin-top: 80px;
}

.project-gallery img {
    width: 100%;
    height: 100%;

    object-fit: cover;


    display: block;
}

.project-gallery .big {
    grid-row: 1 / 3;
}
.wide {
    grid-column: 1 / 3;
}

.vertical-gallery {
    display: grid;

    grid-template-columns: repeat(2, minmax(250px, 1fr));

    gap: 40px;

    width: min(90%, 900px);

    margin: 80px auto;
}

.vertical-gallery img {
    width: 100%;

    aspect-ratio: 3 / 4;

    object-fit: cover;

    border-radius: 15px;

    display: block;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
}

.horizontal-gallery {
    display: grid;

    grid-template-columns: 1fr;

    gap: 20px;

    width: min(90%, 1200px);

    margin: 80px auto;
}

.horizontal-gallery img {
    width: 100%;

    aspect-ratio: 16 / 9;

    object-fit: cover;

    border-radius: 15px;

    display: block;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        padding: 30px 5%;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;

        gap: 10px;
    }

    nav ul li {
        padding: 0;
    }

    nav ul li a {
        font-size: 18px;
    }

    .logo {
        font-size: 48px;
    }

    .works-grid {
        padding-top: 50px;
        grid-template-columns: 1fr;
        width: 90%;
    }
    .project-info {
        grid-template-columns: 1fr;

        gap: 30px;
    }

    .project-title {
        text-align: center;
    }

    .project-text p {
        text-align: left;
    }
    .project-gallery {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .project-gallery .big,
    .project-gallery .wide {
        grid-column: auto;
        grid-row: auto;
    }

    .project-gallery img {
        aspect-ratio: 4 / 3;
    }
    .vertical-gallery, .horizontal-gallery {
        grid-template-columns: 1fr;

        width: 100%;

        gap: 20px;
    }
}